.leave {
    
    background-color:lightsteelblue;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width:417px;
    font-size: small;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
  }